* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #EAE0D5;
    color: #5E503F;
    font-family: "Colaborate";
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: auto;
}

.grid-item {
    font-size: 2rem;
    padding: 0.5rem;
}

h1,
h2 {
    font-size: clamp(1.5rem, 6vw + 1rem, 5rem);
    color: #22333b;
}

header {
    grid-area: 1/1/1/2;
    background-color: #C6AC8F;
    position: sticky;
    top: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

header h1  {
    font-size: clamp(2rem, 8vw + 1rem, 8rem);
    display: inline-block;
}

header * {
    background-color: #C6AC8F;
}

nav{
    display: inline-block;
}
nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    font-size: clamp(1rem, 4vw + 1rem, 4rem);
    margin-left: clamp(1rem, 4vw + 1rem, 4rem);
    transition: transform 400ms ease;
}

nav>ul>li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

a:hover {
    color: #EAE0D5;
}


#imgSke {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 0;
}

#imgSke img{
    width: 100%;
}

#peter {
    padding: clamp(0.5rem, 1vw + 1rem, 1rem);
    font-size: 1rem;
} 
#textcontent{
    font-size: clamp(0.5rem, 2vw + 1rem, 2rem);
}

@media screen and (max-width: 600px) {
    #peter {
        grid-column-start: 1;
    } 
    #textcontent{
        grid-area: 3/1/span 1/span 2;
    }
}

footer {
    text-align: center;
    background-color: #C6AC8F;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 200px;
}

#footLinks {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img {
    margin: 0;
    padding: 0.5em;
    height: 3em;
}

#centImg {
    border-left: #5E503F solid;
    border-right: #5E503F solid;
}

footer * {
    background-color: #C6AC8F;
}