@font-face{ 
	font-family: 'Colaborate';
	src: url('ColabReg-webfont.eot');
	src: url('ColabReg-webfont.eot?iefix') format('eot'),
	     url('ColabReg-webfont.woff') format('woff'),
	     url('ColabReg-webfont.svg#webfont') format('svg');
}